@font-face{ font-family: 'Clean Sports'; src: url('../assets/fonts/Clean\ Sports.otf'); }
@font-face{ font-family: 'Clean Sports Stencil'; src: url('../assets/fonts/Clean\ Sports\ Stencil.otf'); }

*{ margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family:'Clean Sports Stencil'; 
  font-size: 0.9em;

}

.heigth-100 {
  height: 100vh;
}

/* ------------------------------------Nav----------------------------------------- */
.logo {
  width: 150px;
}

.bg-trans {
background: transparent;
background-image: url("../images/overlay.png");
background-size: 100% 100%;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
  outline: none;
}

.dropdown-toggle::after {
  display: none;
}
.btn {
  background: transparent;
}

.center-elem li {
  float: left;
  list-style: none;
  color: white;
  /* text-shadow: 0,0,5px,white; */
  margin-left: 15px;
  margin-right: 30px;
  font-weight: 600;
}

.nav-2 {
  transition: all .5s ease-in-out;
}

.dropdown {
  display: none;
}
.ul-items {
  display: inline-block;
}


/* ------------------------------home--------------------------------------------------- */
#home {
  background:linear-gradient(to bottom,#1F1C2C,tomato);
  position: relative;
  overflow: hidden;
}
#home::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 150px;
  width: 100%;
  background-image: url("../images/line-white.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.hinata-jumping {
  position: absolute;
  right: -100px;
  top: 3vh;
  height: 90%;
  /* width: 100%; */
}
.hinata-home {
  /* width: 60vw; */
} 
.hero-home {
  padding: 150px 35px 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  z-index: 545465;
}
.hero-home > h1 {
  font-family: initial;
  font-size: 50px;
}

/* -----------------------------lema------------------------------------------------ */
#lema {
  background-image: url("../images/bg-ed.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  position: relative;
  background-color: black;
}
.hero {
  padding: 25px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.hero > div  {
  margin-top: 19vh;
  text-align: center;
  color: white;
  font-weight: bold;
}
.hero-box {
  width: 700px;
  margin: 0 auto;
  padding:50px;
  position: relative;
  z-index: 5;
  border: 5px solid black;
}
.hero-box > h2 {
  color: black;
  text-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white;
}
.hero-box::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("../images/bg-ed-bn-cut-bn-cut.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  filter: blur(2px);
  
}

/* --------------------------------------------------------------------------------- */

/* -----------------------Third season---------------------------------------------------------- */
#third-season {
  position: relative;
  overflow: hidden;
}
.ushijima {
  position: absolute; 
  left: 0px; 
  bottom: 0px;
  top:5%;
}
.hinata {
  position: absolute; 
  right: 0px; 
  bottom: 0px; 
  top:10%;
}

.hinata > img, .ushijima > img {
  height: 100%;
}
/* --------------------------------------------------------------------------------- */


/* mobil */
@media only screen and (max-width: 600px) {
/* ----------------------------------nav------------------------------------------------------ */
  .dropdown {
    display: inline-block;
  }
  .ul-items {
    display: none;
  }


}